{{ $id := lower (urlize (.Get 0)) }}
{{ $animal := index .Site.Data.animals $id }}
<div class="notices animal" id="{{ $id }}">
  <p></p>
  <h3 id="animal-{{ lower (urlize $animal.Name) }}">{{ $animal.Name }}</h3>
  <p><em>{{ $animal.Description }}</em></p>
  <ul class="animal">
    <li>
      <h5>Characteristics</h5>
      <ul>
          {{ range $key, $value := $animal.Characteristics }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }} ({{ mul $value 3}}%)
          </li>
          {{ end }}
      </ul>
    </li>
    <li>
      <h5>Attributes</h5>
      <ul>
          {{ range $key, $value := $animal.Attributes }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}
          </li>
          {{ end }}
      </ul>
    </li>
    {{ if (ne nil (index $animal "Vocations"))}}
    <li>
      <h5>Vocations</h5>
      <ul>
          {{ range $key, $value := $animal.Vocations }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ if (ne nil (index $animal "Reputations"))}}
    <li>
      <h5>Reputations</h5>
      <ul>
          {{ range $key, $value := $animal.Reputations }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
    {{ end }}
    <li>
      <h5>Attacks</h5>
      <ul>
          {{ range $key, $value := $animal.Attacks }}
          {{ if (gt (len (findRE "map" (printf "%T" $value))) 0) }}
          <li>
            <strong>{{ $key }}:</strong> {{ printf  "%v + %d" $value.Damage (div $animal.Characteristics.BOD 4)}}
              <ul>
                <li><strong>Delay:</strong> {{ $value.Delay }}</li>
                <li><strong>Duration:</strong> {{ $value.Duration }}</li>
                <li><strong>Potency:</strong> {{ $value.Potency }}</li>
                <li><strong>Effect:</strong> {{ $value.Effect }}</li>
              </ul>
          </li>
          {{ else}}
          <li>
              <strong>{{ $key }}:</strong> {{ printf  "%v + %d" $value (div $animal.Characteristics.BOD 4)}}
          </li>
          {{ end }}
          {{ end }}
      </ul>
    </li>
  </ul>
  <table>
      <tr>
        <th>Knack</th>
        <th>Magnitude</th>
        <th>Traits</th>
        <th>Description</th>
      </tr>
      {{ range $key, $value := $animal.Knacks }}
      {{ $id := lower (urlize $key)}}
      {{ if (gt (len (findRE "^detect-\\S+" $id)) 0)}}
        {{ $.Scratch.Set "knack" (index $.Site.Data.knacks "detect") }}
      {{ else }}
      {{ $.Scratch.Set "knack" (index $.Site.Data.knacks $id) }}
      {{ end }}
      <tr>
        <td><strong>{{$key}}</strong></td>
        <td>{{$value}}</td>
        <td>{{delimit ($.Scratch.Get "knack").Traits ", "}}</td>
        <td>{{ ($.Scratch.Get "knack").Short }}</td>
      </tr>  
      {{ end }}
    </table>
</div>
