{{ $scratch := .Scratch }}
{{ if .IsNamedParams }}
  {{ $scratch.Set "include_tags_raw" (.Get "include")}}
  {{ $scratch.Set "exclude_tags_raw" (.Get "exclude")}}
{{ else }}
  {{ $scratch.Set "include_tags_raw" (.Get 0)}}
  {{ $scratch.Set "exclude_tags_raw" (.Get 1)}}
{{ end }}

{{ if eq nil ($scratch.Get "include_tags_raw")}}
  {{ $scratch.Set "include_tags_raw" ""}}
{{ end }}
{{ if eq nil ($scratch.Get "exclude_tags_raw")}}
  {{ $scratch.Set "exclude_tags_raw" ""}}
{{ end }}

{{ range (sort $.Site.Data.animals "Name" "asc") }}
{{ $animal := . }}

{{/* Determine whether or not to display the object based on tags */}}
{{ if (ne (len ($scratch.Get "include_tags_raw") ) 0 )}}
  {{/* Parse the comma-separated tags list */}}
  {{ $scratch.Set "parsed_tags" (split ($scratch.Get "include_tags_raw") ",")}}
  {{/* List the tags which were in the include list _and_ which the object has */}}
  {{ $scratch.Set "included_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
  {{/* If the object has any matching tags, it should be displayed */}}
  {{ $scratch.Set "included" (gt (len ($scratch.Get "included_tags")) 0)}}
{{ else }}
  {{/* If no tags were specified to be included, include all objects of the type. */}}
  {{ $scratch.Set "included" true }}
{{ end }}
{{ if (ne (len ($scratch.Get "exclude_tags_raw") ) 0 )}}
  {{/* Parse the comma-separated tags list */}}
  {{ $scratch.Set "parsed_tags" (split ($scratch.Get "exclude_tags_raw") ",")}}
  {{/* List the tags which were in the exclude list _and_ which the object has */}}
  {{ $scratch.Set "excluded_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
  {{/* If the object has any matching tags, it should NOT be displayed; exclude overrides include. */}}
  {{ $scratch.Set "not_excluded" (eq (len ($scratch.Get "excluded_tags")) 0)}}
{{ else }}
  {{ $scratch.Set "not_excluded" true }}
{{ end }}

{{/* Display the object only if it is has any tags which are included and none that are excluded */}}
{{ if (and ($scratch.Get "included") ($scratch.Get "not_excluded"))}}
<div class="notices animal">
  <p></p>
  <h3 id="animal-{{ lower (urlize .Name) }}">{{ .Name }}</h3>
  <p><em>{{ $animal.Description }}</em></p>
  <ul class="animal">
    <li>
      <h5>Characteristics</h5>
      <ul>
        {{ range $key, $value := $animal.Characteristics }}
        <li>
          <strong>{{ $key }}:</strong> {{ $value }} ({{ mul $value 3}}%)
        </li>
        {{ end }}
      </ul>
    </li>
    <li>
      <h5>Attributes</h5>
      <ul>
        {{ range $key, $value := $animal.Attributes }}
        <li>
          <strong>{{ $key }}:</strong> {{ $value }}
        </li>
        {{ end }}
      </ul>
    </li>
    {{ if (ne nil (index $animal "Vocations"))}}
    <li>
      <h5>Vocations</h5>
      <ul>
        {{ range $key, $value := $animal.Vocations }}
        <li>
          <strong>{{ $key }}:</strong> {{ $value }}%
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ if (ne nil (index $animal "Reputations"))}}
    <li>
      <h5>Reputations</h5>
      <ul>
        {{ range $key, $value := $animal.Reputations }}
        <li>
          <strong>{{ $key }}:</strong> {{ $value }}%
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
    <li>
      <h5>Attacks</h5>
      <ul>
        {{ range $key, $value := $animal.Attacks }}
        {{ if (gt (len (findRE "map" (printf "%T" $value))) 0) }}
        <li>
          <strong>{{ $key }}:</strong> {{ printf  "%v + %d" $value.Damage (div $animal.Characteristics.BOD 4)}}
            <ul>
              <li><strong>Delay:</strong> {{ $value.Delay }}</li>
              <li><strong>Duration:</strong> {{ $value.Duration }}</li>
              <li><strong>Potency:</strong> {{ $value.Potency }}</li>
              <li><strong>Effect:</strong> {{ $value.Effect }}</li>
            </ul>
        </li>
        {{ else}}
        <li>
            <strong>{{ $key }}:</strong> {{ printf  "%v + %d" $value (div $animal.Characteristics.BOD 4)}}
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </li>
  </ul>
  <table>
    <tr>
      <th>Knack</th>
      <th>Magnitude</th>
      <th>Traits</th>
      <th>Description</th>
    </tr>
    {{ range $key, $value := $animal.Knacks }}
    {{ $id := lower (urlize $key)}}
    {{ if (gt (len (findRE "^detect-\\S+" $id)) 0)}}
      {{ $.Scratch.Set "knack" (index $.Site.Data.knacks "detect") }}
    {{ else }}
    {{ $.Scratch.Set "knack" (index $.Site.Data.knacks $id) }}
    {{ end }}
    <tr>
      <td><strong>{{$key}}</strong></td>
      <td>{{$value}}</td>
      <td>{{delimit ($.Scratch.Get "knack").Traits ", "}}</td>
      <td>{{ ($.Scratch.Get "knack").Short }}</td>
    </tr>  
    {{ end }}
  </table>
</div>
{{ end }}
{{ end }}