{{ $scratch := .Scratch }}
{{ if .IsNamedParams }}
  {{ $scratch.Set "include_tags_raw" (.Get "include")}}
  {{ $scratch.Set "exclude_tags_raw" (.Get "exclude")}}
{{ else }}
  {{ $scratch.Set "include_tags_raw" (.Get 0)}}
  {{ $scratch.Set "exclude_tags_raw" (.Get 1)}}
{{ end }}

{{ if eq nil ($scratch.Get "include_tags_raw")}}
  {{ $scratch.Set "include_tags_raw" ""}}
{{ end }}
{{ if eq nil ($scratch.Get "exclude_tags_raw")}}
  {{ $scratch.Set "exclude_tags_raw" ""}}
{{ end }}

{{ range (sort $.Site.Data.characters "Name" "asc") }}

{{/* Determine whether or not to display the object based on tags */}}
{{ if (ne (len ($scratch.Get "include_tags_raw") ) 0 )}}
  {{/* Parse the comma-separated tags list */}}
  {{ $scratch.Set "parsed_tags" (split ($scratch.Get "include_tags_raw") ",")}}
  {{/* List the tags which were in the include list _and_ which the object has */}}
  {{ $scratch.Set "included_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
  {{/* If the object has any matching tags, it should be displayed */}}
  {{ $scratch.Set "included" (gt (len ($scratch.Get "included_tags")) 0)}}
{{ else }}
  {{/* If no tags were specified to be included, include all objects of the type. */}}
  {{ $scratch.Set "included" true }}
{{ end }}
{{ if (ne (len ($scratch.Get "exclude_tags_raw") ) 0 )}}
  {{/* Parse the comma-separated tags list */}}
  {{ $scratch.Set "parsed_tags" (split ($scratch.Get "exclude_tags_raw") ",")}}
  {{/* List the tags which were in the exclude list _and_ which the object has */}}
  {{ $scratch.Set "excluded_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
  {{/* If the object has any matching tags, it should NOT be displayed; exclude overrides include. */}}
  {{ $scratch.Set "not_excluded" (eq (len ($scratch.Get "excluded_tags")) 0)}}
{{ else }}
  {{ $scratch.Set "not_excluded" true }}
{{ end }}

{{/* Display the object only if it is has any tags which are included and none that are excluded */}}
{{ if (and ($scratch.Get "included") ($scratch.Get "not_excluded"))}}
<div class="notices character">
  <p></p>
  <h3 id="disease-{{ lower (urlize .Name) }}">{{ .Name }}</h3>
  <p><em>{{ .Description }}</em></p>
  <ul class="character">
    <li>
      <h5>Characteristics</h5> 
      <ul>
          {{ range $key, $value := .Characteristics }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }} ({{ mul $value 3}}%)
          </li>
          {{ end }}
      </ul>
    </li>
    <li>
      <h5>Attributes</h5>
      <ul>
          {{ range $key, $value := .Attributes }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}
          </li>
          {{ end }}
      </ul>
    </li>
    {{ if (ne nil (index  "Vocations"))}}
    <li>
      <h5>Vocations</h5>
      <ul>
          {{ range $key, $value := .Vocations }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ if (ne nil (index  "Reputations"))}}
    <li>
      <h5>Reputations</h5>
      <ul>
          {{ range $key, $value := .Reputations }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ if (ne nil (index  "Relationships"))}}
    <li>
      <h5>Relationships</h5>
      <ul>
          {{ range $key, $value := .Relationships }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
    {{ end }}
    <li>
      <h5>Skills</h5>
      <ul>
          {{ range $key, $value := .Skills }}
          <li>
              <strong>{{ $key }}:</strong> {{ $value }}%
          </li>
          {{ end }}
      </ul>
    </li>
  </ul>
  <table>
    <tr>
      <th>Knack</th>
      <th>Magnitude</th>
      <th>Traits</th>
      <th>Description</th>
    </tr>
    {{ range $key, $value := .Knacks }}
    {{ $id := lower (urlize $key)}}
    {{ if (gt (len (findRE "^detect-\\S+" $id)) 0)}}
      {{ $.Scratch.Set "knack" (index $.Site.Data.knacks "detect") }}
    {{ else }}
    {{ $.Scratch.Set "knack" (index $.Site.Data.knacks $id) }}
    {{ end }}
    <tr>
      <td><strong>{{$key}}</strong></td>
      <td>{{$value}}</td>
      <td>{{delimit ($.Scratch.Get "knack").Traits ", "}}</td>
      <td>{{ ($.Scratch.Get "knack").Short }}</td>
    </tr>  
    {{ end }}
  </table>
</div>
{{ end }}
{{ end }}