{{ $id := lower (urlize (.Get 0)) }}
{{ $dweomer := index .Site.Data.dweomers $id }}
<div class="notices dweomer">
  <p></p>
  <h3 id="dweomer-{{lower (urlize $dweomer.Name)}}">{{ $dweomer.Name }}</h3>
  {{ if isset $dweomer "Traits" }}
  <p class="dweomer-traits"><strong>Traits: </strong><em>{{ delimit $dweomer.Traits ", " }}</em></p>
  {{ else }}  <p class="dweomer-traits"><strong>Traits: </strong><em>None</em></p>
  {{ end }}
  {{ if isset $dweomer "Restrictions" }}
  <p class="dweomer-restrictions"><strong>Restrictions: </strong><em>{{ delimit $dweomer.Restrictions ", " }}</em></p>
  {{ else }}  <p class="dweomer-restrictions"><strong>Restrictions: </strong><em>None</em></p>
  {{ end }}
  {{ if isset $dweomer "Increased Magnitude" }}
  <p class="dweomer-increased-magnitude"><strong>At inceased magnitudes: </strong></p>
  <ul>
    {{range (index $dweomer "Increased Magnitude") }}
    <li><em>{{.}}</em></li>
    {{end}}
  </ul>
  {{ end }}
  <hr>
  {{ $dweomer.Description | markdownify }}
</div>
