{{ $linkify := .Get "linkify" }}
{{ $scratch := .Scratch }}
{{ if .IsNamedParams }}
  {{ $scratch.Set "include_tags_raw" (.Get "include")}}
  {{ $scratch.Set "exclude_tags_raw" (.Get "exclude")}}
{{ else }}
  {{ $scratch.Set "include_tags_raw" (.Get 0)}}
  {{ $scratch.Set "exclude_tags_raw" (.Get 1)}}
{{ end }}

{{ if eq nil ($scratch.Get "include_tags_raw")}}
  {{ $scratch.Set "include_tags_raw" ""}}
{{ end }}
{{ if eq nil ($scratch.Get "exclude_tags_raw")}}
  {{ $scratch.Set "exclude_tags_raw" ""}}
{{ end }}

<table>
  <thead>
    <th>Dweomer</th>
    <th>Traits</th>
    <th>Description</th>
  </thead>
  {{ range $dweomer := (sort $.Site.Data.dweomers "Name" "asc") }}
  {{/* Determine whether or not to display the object based on tags */}}
  {{ if (ne (len ($scratch.Get "include_tags_raw") ) 0 )}}
    {{/* Parse the comma-separated tags list */}}
    {{ $scratch.Set "parsed_tags" (split ($scratch.Get "include_tags_raw") ",")}}
    {{/* List the tags which were in the include list _and_ which the object has */}}
    {{ $scratch.Set "included_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
    {{/* If the object has any matching tags, it should be displayed */}}
    {{ $scratch.Set "included" (gt (len ($scratch.Get "included_tags")) 0)}}
  {{ else }}
    {{/* If no tags were specified to be included, include all objects of the type. */}}
    {{ $scratch.Set "included" true }}
  {{ end }}
  {{ if (ne (len ($scratch.Get "exclude_tags_raw") ) 0 )}}
    {{/* Parse the comma-separated tags list */}}
    {{ $scratch.Set "parsed_tags" (split ($scratch.Get "exclude_tags_raw") ",")}}
    {{/* List the tags which were in the exclude list _and_ which the object has */}}
    {{ $scratch.Set "excluded_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
    {{/* If the object has any matching tags, it should NOT be displayed; exclude overrides include. */}}
    {{ $scratch.Set "not_excluded" (eq (len ($scratch.Get "excluded_tags")) 0)}}
  {{ else }}
    {{ $scratch.Set "not_excluded" true }}
  {{ end }}
  {{/* Display the object only if it is has any tags which are included and none that are excluded */}}
  {{ if (and ($scratch.Get "included") ($scratch.Get "not_excluded"))}}
  <tr>
    <td style="text-align:center" ><a href="#dweomer-{{lower (urlize .Name)}}">{{ .Name }}</a></td>
    {{ if isset . "Traits"}}
    <td style="text-align:center" >{{ delimit .Traits ", " }}</td>
    {{ else }}
    <td style="text-align:center" >None</td>
    {{ end }}
    <td>{{.Short}}</td>
  </tr>
  {{ end }}
  {{ end }}
</table>

{{ range (sort $.Site.Data.dweomers "Name" "asc") }}
{{/* Determine whether or not to display the object based on tags */}}
{{ if (ne (len ($scratch.Get "include_tags_raw") ) 0 )}}
  {{/* Parse the comma-separated tags list */}}
  {{ $scratch.Set "parsed_tags" (split ($scratch.Get "include_tags_raw") ",")}}
  {{/* List the tags which were in the include list _and_ which the object has */}}
  {{ $scratch.Set "included_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
  {{/* If the object has any matching tags, it should be displayed */}}
  {{ $scratch.Set "included" (gt (len ($scratch.Get "included_tags")) 0)}}
{{ else }}
  {{/* If no tags were specified to be included, include all objects of the type. */}}
  {{ $scratch.Set "included" true }}
{{ end }}
{{ if (ne (len ($scratch.Get "exclude_tags_raw") ) 0 )}}
  {{/* Parse the comma-separated tags list */}}
  {{ $scratch.Set "parsed_tags" (split ($scratch.Get "exclude_tags_raw") ",")}}
  {{/* List the tags which were in the exclude list _and_ which the object has */}}
  {{ $scratch.Set "excluded_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
  {{/* If the object has any matching tags, it should NOT be displayed; exclude overrides include. */}}
  {{ $scratch.Set "not_excluded" (eq (len ($scratch.Get "excluded_tags")) 0)}}
{{ else }}
  {{ $scratch.Set "not_excluded" true }}
{{ end }}
{{/* Display the object only if it is has any tags which are included and none that are excluded */}}
{{ if (and ($scratch.Get "included") ($scratch.Get "not_excluded"))}}
<div class="notices dweomer">
  <p></p>
  <h3 id="dweomer-{{lower (urlize .Name)}}">{{ .Name }}</h3>
  {{ if isset . "Traits" }}
  <p class="dweomer-traits"><strong>Traits: </strong><em>{{ delimit .Traits ", " }}</em></p>
  {{ else }}  <p class="dweomer-traits"><strong>Traits: </strong><em>None</em></p>
  {{ end }}
  {{ if isset . "Restrictions" }}
  <p class="dweomer-restrictions"><strong>Restrictions: </strong><em>{{ delimit .Restrictions ", " }}</em></p>
  {{ else }}  <p class="dweomer-restrictions"><strong>Restrictions: </strong><em>None</em></p>
  {{ end }}
  {{ if isset . "Increased Magnitude" }}
  <p class="dweomer-increased-magnitude"><strong>At inceased magnitudes: </strong></p>
  <ul>
    {{range (index . "Increased Magnitude") }}
    <li><em>{{.}}</em></li>
    {{end}}
  </ul>
  {{ end }}
  <hr>
  {{ .Description | markdownify }}
</div>
{{ end }}
{{ end }}
