{{ $linkify := .Get "linkify" }}
{{ $scratch := .Scratch }}
{{ if .IsNamedParams }}
  {{ $scratch.Set "include_tags_raw" (.Get "include")}}
  {{ $scratch.Set "exclude_tags_raw" (.Get "exclude")}}
{{ else }}
  {{ $scratch.Set "include_tags_raw" (.Get 0)}}
  {{ $scratch.Set "exclude_tags_raw" (.Get 1)}}
{{ end }}

{{ if eq nil ($scratch.Get "include_tags_raw")}}
  {{ $scratch.Set "include_tags_raw" ""}}
{{ end }}
{{ if eq nil ($scratch.Get "exclude_tags_raw")}}
  {{ $scratch.Set "exclude_tags_raw" ""}}
{{ end }}
<table>
  <thead>
    <th>Poison</th>
    <th>Type</th>
    <th>Delay</th>
    <th>Potency</th>
    <th>Effect</th>
  </thead>
  {{ range $poison := (sort $.Site.Data.poisons "Name" "asc") }}
  {{/* Determine whether or not to display the object based on tags */}}
  {{ if (ne (len ($scratch.Get "include_tags_raw") ) 0 )}}
    {{/* Parse the comma-separated tags list */}}
    {{ $scratch.Set "parsed_tags" (split ($scratch.Get "include_tags_raw") ",")}}
    {{/* List the tags which were in the include list _and_ which the object has */}}
    {{ $scratch.Set "included_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
    {{/* If the object has any matching tags, it should be displayed */}}
    {{ $scratch.Set "included" (gt (len ($scratch.Get "included_tags")) 0)}}
  {{ else }}
    {{/* If no tags were specified to be included, include all objects of the type. */}}
    {{ $scratch.Set "included" true }}
  {{ end }}
  {{ if (ne (len ($scratch.Get "exclude_tags_raw") ) 0 )}}
    {{/* Parse the comma-separated tags list */}}
    {{ $scratch.Set "parsed_tags" (split ($scratch.Get "exclude_tags_raw") ",")}}
    {{/* List the tags which were in the exclude list _and_ which the object has */}}
    {{ $scratch.Set "excluded_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
    {{/* If the object has any matching tags, it should NOT be displayed; exclude overrides include. */}}
    {{ $scratch.Set "not_excluded" (eq (len ($scratch.Get "excluded_tags")) 0)}}
  {{ else }}
    {{ $scratch.Set "not_excluded" true }}
  {{ end }}
  {{/* Display the object only if it is has any tags which are included and none that are excluded */}}
  {{ if (and ($scratch.Get "included") ($scratch.Get "not_excluded"))}}
  <tr>
    {{ if eq (lower $linkify) "true"}}
    <td><a href="#poison-{{lower (urlize .Name)}}">{{ .Name }}</a></td>
    {{ else }}
    <td>{{ .Name }}</td>
    {{ end }}
    <td style="text-align:center" >{{ .Type }}</td>
    <td style="text-align:center" >{{ .Delay }}</td>
    <td style="text-align:center" >{{ .Potency }}</td>
    <td>{{ .Short }}</td>
  </tr>
  {{ end }}
  {{ end }}
</table>

{{ range (sort $.Site.Data.poisons "Name" "asc") }}
{{/* Determine whether or not to display the object based on tags */}}
{{ if (ne (len ($scratch.Get "include_tags_raw") ) 0 )}}
  {{/* Parse the comma-separated tags list */}}
  {{ $scratch.Set "parsed_tags" (split ($scratch.Get "include_tags_raw") ",")}}
  {{/* List the tags which were in the include list _and_ which the object has */}}
  {{ $scratch.Set "included_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
  {{/* If the object has any matching tags, it should be displayed */}}
  {{ $scratch.Set "included" (gt (len ($scratch.Get "included_tags")) 0)}}
{{ else }}
  {{/* If no tags were specified to be included, include all objects of the type. */}}
  {{ $scratch.Set "included" true }}
{{ end }}
{{ if (ne (len ($scratch.Get "exclude_tags_raw") ) 0 )}}
  {{/* Parse the comma-separated tags list */}}
  {{ $scratch.Set "parsed_tags" (split ($scratch.Get "exclude_tags_raw") ",")}}
  {{/* List the tags which were in the exclude list _and_ which the object has */}}
  {{ $scratch.Set "excluded_tags" (intersect .Tags ($scratch.Get "parsed_tags"))}}
  {{/* If the object has any matching tags, it should NOT be displayed; exclude overrides include. */}}
  {{ $scratch.Set "not_excluded" (eq (len ($scratch.Get "excluded_tags")) 0)}}
{{ else }}
  {{ $scratch.Set "not_excluded" true }}
{{ end }}
{{/* Display the object only if it is has any tags which are included and none that are excluded */}}
{{ if (and ($scratch.Get "included") ($scratch.Get "not_excluded"))}}
<div class="notices poison">
  <p></p>
  <h3 id="poison-{{ lower (urlize .Name) }}">{{ .Name }}</h3>
  <p><em>{{ .Description }}</em></p>
  <ul>
    <li><strong>Delay:</strong> {{ .Delay }}</li>
    <li><strong>Duration:</strong> {{ .Duration }}</li>
    <li><strong>Potency:</strong> {{ .Potency }}</li>
    <li><strong>Effect:</strong> {{ .Effect }}</li>
  </ul>
</div>
{{ end }}
{{ end }}
