{{ $id := lower (urlize (.Get 0)) }}
{{ $poison := index .Site.Data.poisons $id }}
<div class="notices poison" id="{{ $id }}">
  <p></p>
  <h3 id="poison-{{ $id }}">{{ $poison.Name }}</h3>
  <p><em>{{ $poison.Description }}</em></p>
  <ul>
    <li><strong>Delay:</strong> {{ $poison.Delay }}</li>
    <li><strong>Duration:</strong> {{ $poison.Duration }}</li>
    <li><strong>Potency:</strong> {{ $poison.Potency }}</li>
    <li><strong>Effect:</strong> {{ $poison.Effect }}</li>
  </ul>
</div>
